<form class="form">
  <label for="topic-select">Thema</label>
  <select name="topic" id="topic-select">
    <option value="">Kein Thema gewählt</option>
    <option value="html">HTML</option>
    <option value="css">CSS</option>
    <option value="js">JavaScript</option>
    <option value="shell">Shell</option>
  </select>
  <label for="hours-input">Stunden</label>
  <input
    name="hours"
    placeholder="0.00"
    id="hours-input"
    type="number"
    step="0.01"
  />
  <button>Add</button>
</form>
