<header class="filter">
  <button data-topic="all" class="active">all</button>
  <button data-topic="html">html</button>
  <button data-topic="css">css</button>
  <button data-topic="js">js</button>
  <button data-topic="shell">shell</button>
</header>
